<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Comercializadora J.R" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <%= render partial: "elements/navbar" %>
        
        <div class="row">
        <%= yield %>
        </div>
    <br>
    <br>
   <div id="footer" style="background:#094D63 !important; -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.58);
box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.58);">
        <div class="row text-center" style="color:white;font-family: Arial, Helvetica, sans-serif;">
          <br>
            <div class="small-8 columns">
              <p><font size="2">©<%= Time.now.year %> <strong>Comercializadora J.R </strong>- Manizales. TODOS LOS DERECHOS RESERVADOS.</font></p>
            </div>
            
            <div class="small-4 columns push-right">
              <p><font size="3">| <strong>PBX :</strong> (4) 444-44-44</font></p>
            </div>
          <br>
        </div>
      </div> 

        <script>
          $(document).foundation();
           $(document).ready(function() {
             fixFooter();//at page load
           });

           $(window).resize(function() {
             fixFooter();//at page resize
           });

           function fixFooter() {
             footer=$("#footer");
             height=footer.height();
             paddingTop=parseInt(footer.css('padding-top'),10);//zero if is undefined
             paddingBottom=parseInt(footer.css('padding-bottom'),10);//zero if is undefined
             totalHeight=(height+paddingTop+paddingBottom);
             footerPosition=footer.position();
             windowHeight=$(window).height();
             height=(windowHeight - footerPosition.top)-totalHeight;
             if ( height > 0 ) {
               footer.css({
                 'margin-top': (height) + 'px'
               });
             }
           }
        </script>
    
  </body>
</html>